body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
  padding: 20px;
}
.search-bar{
  height: 40px;
  width: 96.5%;
  border-radius: 8px;
  border: 1px solid silver;
  margin-top: 10px;
  padding:0px 5px 0px 5px;
}

.new-chat-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 101%;
}
.new-chat-form input{
  border-radius: 5px;
  border:1px solid silver;
}
.new-chat-form button{
  border: none;
  border-radius: 5px;
  color:#FFFFFF;
  background-color: #6FC4E5;
  cursor: pointer;
}

.chat-item-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.chat-list {
  margin-top: 20px;
  width: 100%;
  height: auto;
  min-height: 500px;
  border-right: 1px solid #ccc;
}

.chat-window {
  width: 70%;
  padding: 8vh 0vh 0vh 5vh;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.user {
  background-color: #e6f3ff;
  text-align: right;
}

.message.bot {
  background-color: #f0f0f0;
}

form {
  margin-top: 20px;
}

input, button {
  margin-right: 10px;
  padding: 5px;
}
.chat-item {
  border-bottom: 1px solid silver;
  padding: 10px 0;
  max-width: 450px;
  border-right: 1px solid silver;
  padding-right: 15px;
  padding-left: 5px;
}

.chat-item h3 {
  margin: 0;
}

.chat-item p {
  margin: 5px 0;
  color: #666;
}

.chat-item small {
  color: #999;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message p {
  margin: 0;
}

.message small {
  font-size: 0.8em;
  color: #999;
  margin-left: 10px;
}

.message.user {
  background-color: #e6f3ff;
  text-align: right;
}

.message.bot {
  background-color: #f0f0f0;
}
.chat-list button{
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 5px 8px 5px 8px;
  cursor: pointer;
}
.edit-button{
  background-color: #6FC4E5;
}
.delete-button{
  background-color: #F70E0D;
}
.chat-window-form{
  display: flex;
  flex-direction: row;
}
.chat-window-form input{
  border-radius: 8px;
  border: 1px solid silver;
  padding: 5px 0px 5px 8px;
  width: 90%;
}
.chat-window-form button{
  background-color: #6FC4E5;
  color:#FFFFFF;
  border:none;
  border-radius: 5px;
  width: 10%;
}